


.admin-page{
    background-color: black;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.admin-basic{
    background-color: skyblue;
    padding: 10px;
    border: 10px;
    display: flex;
    flex-direction: column;
}


